<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/dashboard.css">
		<script src="../static/dynamic/dashboard2.js"></script>
		<script src="https://cdn.lordicon.com/lordicon.js"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

		<title>Fraiserry dashboard {{ user.user_name }}</title>
	</head>



		<body class="container">

			<header>
			</div>

			<div class="fraise">
				<img src="../static/images/icon.png" alt="">
			</div>
			<p id="title" class="marck-script-regular">Fraiseberry Home</p>
			<div class="profilepic_icon">
				<div class="popcontainter">
					<img src="../{{ profile_pic }}" alt="" id="corner_pic">
					<button id="pp"></button>
					<section id="popover">
						<ul>
							<li><a href="/" id="logout">Logout</a></li>
							<li>logged in as {{ user.user_name }}</li>
							<li id="is_active">{{ user.is_active }}</li>
						</ul>
					</section>
				</div>
			</div>


			</header>
			<main>
				<div class="icon" id="camera">
					<lord-icon
						src="https://cdn.lordicon.com/bmlkvhui.json"
						trigger="hover"
						style="width:70px;height:70px">
					</lord-icon>
					<p class="tooltip">camera</p>
				</div>
				<div class="icon" id="notifications">
					<lord-icon
					src="https://cdn.lordicon.com/fmasbomy.json"
					trigger="loop"
					delay="5000"
					state="hover-looking-around"
					style="width:70px;height:70px">
					</lord-icon>
					<p class="tooltip">favourites</p>
				</div>

				<div class="icon" id="notifications">
					<lord-icon
					src="https://cdn.lordicon.com/fmasbomy.json"
					trigger="loop"
					delay="5000"
					state="hover-looking-around"
					style="width:70px;height:70px">
					</lord-icon>
					<p class="tooltip">favourites</p>
				</div>
			</main>

			<footer>
				<div class="icon" class="user" id="user_icon">
					<lord-icon
						src="https://cdn.lordicon.com/dvqeipeg.json"
						trigger="hover"
						style="width:70px;height:70px">
					</lord-icon>
					<p class="tooltip">settings</p>
				</div>
				<div class="icon" id="prefs">
					<lord-icon
						src="https://cdn.lordicon.com/zfzufhzk.json"
						trigger="hover"
						style="width:70px;height:70px">
					</lord-icon>
					<p class="tooltip">preferences</p>
				</div>
				<div class="icon" id="message">
					<lord-icon
						src="https://cdn.lordicon.com/kiynvdns.json"
						trigger="hover"
						style="width:70px;height:70px">
					</lord-icon>
					<p class="tooltip">matches</p>
				</div>
				<div class="icon" id="heart">
					<lord-icon
						src="https://cdn.lordicon.com/igciyimj.json"
						trigger="hover"
						state="hover-match"
						colors="primary:#121331,secondary:#e83a30,tertiary:#ffc738,quaternary:#f9c9c0,quinary:#f24c00,senary:#ebe6ef"
						style="width:70px;height:70px">
					</lord-icon>
					<p class="tooltip">swipe</p>
				</div>
			</footer>
			<a id="ref" href="https://lordicon.com/">Icons by Lordicon.com</a>
		</body>


		</html>
