<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/get_pic.css">
		<script src="../static/dynamic/get_pic.js"></script>

		<title>Camera</title>
	</head>



		<body class="container">
			<main>

				<video autoplay id="vid"></video>
				<img src="../static/images/camera_icon.png" id="cap_button">
				<canvas id="canvas"></canvas>
				<img id="im">
				<button id="save">Save</button>
				<button id="back">Back</button>
			</main>


			<footer></footer>
		</body>


		</html>
