<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/signup.css">
		<script src="../static/dynamic/signup.js"></script>

		<title>Welcome to Fraiseberry</title>
	</head>



		<body class="container">
			<header>
				<img class="header-item-img" src="../static/images/icon.png" alt="">
				<h1 class="header-item">Fraiseberry</h1>
			</header>
			<main>
				<input type="text" placeholder="enter your username" name="user_name">
				<input type="password" placeholder="enter your password" name="password">
				<button class="tweet-button" id="signin">Sign in</button>
			</main>
			<footer></footer>
		</body>


		</html>
