<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/update_user_info.css">
		<script src="../static/dynamic/update_user_info.js"></script>

		<title>Update your information: {{ user.user_name }}</title>
	</head>

	<body class="container">
		<header>
			<img class="header-item-img" src="../static/images/icon.png" alt="">
			<h1 class="header-item">Your Details</h1>
		</header>
		<main>

			<div id="bio_section">
				<p id="bio_label">Bio</p>
				<textarea name="" id="bio" cols="30" rows="5">{{ user.bio }}</textarea>
				<br><br>
			</div>

			<div class="box">
				<div class="label-box">
					<p>First name</p>
					<p>Last Name</p>
					<p>Date of birth</p>
					<p>email</p>
					<p>User name</p>
					<p>Gender</p>

				</div>
				<div class="input-box">

					<input type="text" value="{{ user.first_name }}" id="first_name">
					<input type="text" value="{{ user.last_name }}" id="last_name">
					<input type="date" value="{{ user.date_of_birth }}" id="date_of_birth">
					<input type="text" value="{{ user.email }}" id="email">
					<input type="text" value="{{ user.user_name }}" id="user_name">
					<select class ="input" name="intent" id="gender">
						<option value="Male" {% if user.gender == "Male" %} selected {% endif %}>Male</option>
						<option value="Female" {% if user.gender == "Female" %} selected {% endif %}>Female</option>
						<option value="Non binary" {% if user.gender == "Non binary" %} selected {% endif %}>Non binary</option>
						<option value="Other" {% if user.gender == "Other" %} selected {% endif %}>Other</option>
					</select>
				</div>
			</div>
			<div>
				<button class="tweet-button" id="save-button">Save</button>
				<br>
				<button class="tweet-button" id="back-button">Back</button>
			</div>
		</main>
			<footer></footer>
	</body>


		</html>
