<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/update-preferences.css">
		<script src="../static/dynamic/update-preferences.js"></script>

		<title>Get started</title>
	</head>



		<body class="container">
			<header>
				<img class="header-item-img" src="../static/images/icon.png" alt="">
				<h1 class="header-item">Your preferences</h1>
			</header>
			<main>
		<p>
			The pool of potential matches will be filtered by the preferences you choose.
			Find compatibilty and real relationships
		</p>

		<div class="box">
			<div class="label-box">
				<p>Minimum age</p>
				<p>Maximum age</p>
				<p>Distance </p>
				<p>Intention</p>
				<p>Gender</p>
			</div>
			<div class="input-box">
				<input type="range" min="18" max="100" step="1" name="min_age" id="min_age" value="{{ preferences.min_age }}">
				<input type="range" min="18" max="100" step="1"  name="max_age" id="max_age" value="{{ preferences.max_age }}">
				<input type="range" min="1" max="1000" step="5"  name="distance" id="distance" value="{{ preferences.distance}}">
				<select class ="input" name="intent" id="intent">
					<option value="Romantic relationship" {% if preferences.intentions == "Romantic relationship" %} selected {% endif %}>Romantic relationship</option>
					<option value="Friendship" {% if preferences.intentions == "Friendship" %} selected {% endif %}>Friendship</option>
				</select>
				<select class="input" name="gender" id="gender">
					<option value="Male" {% if preferences.gender == "Male" %} selected {% endif %}>Male</option>
					<option value="Female"{% if preferences.gender == "Female" %} selected {% endif %}>Female</option>
					<option value="Non binary" {% if preferences.gender == "Non binary" %} selected {% endif %}>Non binary</option>
					<option value="Other" {% if preferences.gender == "Other" %} selected {% endif %}>Other</option>
				</select>
			</div>
			<div class="value-box">
				<p id="age_value">{% if preferences %} {{ preferences.min_age }} {% else %} 50 {% endif %}</p>
				<p id="age_value_max">{% if preferences %} {{ preferences.max_age }} {% else %} 50 {% endif %}</p>
				<p id="distance_value">{% if preferences %} {{ preferences.distance }} {% else %} 50 {% endif %}</p>
			</div>
		</div>
		<div>
			<button class="tweet-button" id="save-button">Save</button>
			<br>
			<button class="tweet-button" id="back-button">Back</button>
		</div>

			</main>
			<footer>

			</footer>
		</body>


		</html>
