<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/verification.css">
		<script src="../static/dynamic/verification.js"></script>

		<title>Email Verification</title>
	</head>



		<body class="container">
			<header>
				<img class="header-item-img" src="../static/images/icon.png" alt="">
				<h1 class="header-item">Fraiseberry</h1>
			</header>
			<main>
				<p>A verification code has been sent to your email addess. Please enter the code below to verifiy your email address</p>
				<div>
					<input type="text" placeholder="0" id="no1">
					<input type="text" placeholder="0" id="no2">
					<input type="text" placeholder="0" id="no3">
					<input type="text" placeholder="0" id="no4">
				</div>
				<button class="tweet-button" id="verify">Verify</button>
				<p>Didn't receive an email? click <a id="another_code" href="">here</a> for another code</p>
			</main>
			<footer></footer>
		</body>


		</html>
