<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<link rel='stylesheet' href="../static/view_matches.css">
		<script src="../static/dynamic/view_matches.js"></script>
		<script src="https://cdn.lordicon.com/lordicon.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">

		<title>Fraiserry dashboard {{ user.user_name }}</title>
	</head>



		<body class="container">

			<header>
				<div>
					<lord-icon id="home"
						src="https://cdn.lordicon.com/epietrpn.json"
						trigger="hover"
						style="width:70px;height:70px">
					</lord-icon>
				</div>


			</header>
			<main>
				{% for candidate in result %}
				<div class="card">
					<img src="../{{ candidate.profile_pic_path }}" alt="" id="pp" data-pp="">
					<p id="card_info_1" class="marck-script-regular">{{ candidate.first_name }}, {{ candidate.age }}</p>
					<div id="icons">
						<lord-icon class="bin"
							src="https://cdn.lordicon.com/xekbkxul.json"
							trigger="morph"
							state="morph-trash-in"
							style="width:60px;height:60px">
						</lord-icon>
						<lord-icon class="message"
						src="https://cdn.lordicon.com/kiynvdns.json"
						trigger="hover"
						style="width:60px;height:60px">
					</lord-icon>
					<p class="not_visable">{{ candidate.id }}</p>
				</div>

				<div id="card_info">
						<p id="card_info_2">@{{ candidate.user_name }}, {{ distance[candidate.user_name] }}km</p>
						<p id="card_info_3">{{ candidate.bio }}</p>
					</div>
				</div>
				{% endfor %}

			</main>
			<footer>
				<a id="ref" href="https://lordicon.com/">Icons by Lordicon.com</a>
			</footer>
		</body>


		</html>
